<%@ Master Language="C#" MasterPageFile="~/masterpages/LeftNavigation.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="RightContent" runat="server">
  Currently this page isn't ready...
</asp:Content>