<%@ Master Language="C#" MasterPageFile="~/masterpages/LeftNavigation.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="RightContent" runat="server">
  <form runat="server">
    <umbraco:Macro Alias="UnInstallReason" runat="server" />
  </form>
</asp:Content>