@charset "utf-8";

body {
	background-image: url(../img/bg.gif);
	background-repeat: repeat-x;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	FONT-SIZE: 12px;
}

textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
a:active {
	color: #0000A0;
	TEXT-DECORATION: none;
}
a:link {
	color: #0000A0;
	TEXT-DECORATION: none;
}
a:visited {
	color: #0000A0;
	TEXT-DECORATION: none;
}
a:hover {
	color: #0080ff;
	TEXT-DECORATION: underline;
	cursor:pointer;
	
}
h1 {
	TEXT-DECORATION: none;
	FONT-SIZE: 14px;
	text-align: left;
}

.headName i {
	font-size: 20px;
	font-family: Bookman Old Style;
}

h2 {
	COLOR: #0000A0;
	TEXT-DECORATION: none;
	FONT-SIZE: 16px
}
div .clearDiv10{
	height: 10px;
}
span .clearSpan10{
	width: 10px;
}
.mailInfo {
	text-align: center;
}
.pageContainer{
	margin-top: -10px;
}
.header {
	height: 55px;
	padding: 0 0 20px 0;
}

.logo{
	margin-left:24px;
}

.productName{
	margin-bottom:25px;
	margin-left:24px;
}

.languages{
	float: right; 
	margin-right: 20px;
	margin-top: -5px;
}
.changeLanguage{
	color: black; 
	position: relative; 
	top: -10px; 
	left: -5px;
}
.headName {
	padding: 0 250px 0 250px;
}
.headContent {
	float: left;
	width: 90%;
}
.breadCrumbs img {
    position: relative;
    top: 3px;
}
.breadCrumbs a img {
    top: 0px;
}
.pageContent h1
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.page {
	width: 1024px;
	margin: 0 auto;
}

.container{
	width: 100%;
	padding: 0;
	height: 1%;
}
.container:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.content {
	padding: 0 0 0 64px;
}

.leftColumn {
    float: left;
    position: relative;
    width: 140px;
}

.leftColumnHome {
    float: left;
    position: relative;
    width: 250px;
}
.pageContent{
	float: left;
	width: 735px
}
.home{
}
.homeSlider{
	height:	241px;    
	left: 7px;
    position: relative;
}
.footer {
	min-width: 1024px;
	height: 60px;
	text-align: center;
	vertical-align: bottom;
	margin-top: -22px;
	color: #888;
}
.footer span {
	margin-left: 10px;
}

.footer a {
	margin-left: 10px;
}

.footer a:link, a:visited{
	color: #888;
}

.sidebarTable {
	width: 250px;
}

.downloadInfo{ 
}

.downloadInfo h1 {
	font-size:12px;
	margin: 0;
	text-align: left;
}

.download {
	padding-left: 16px;
}

.donate {
	height: 141px;
    width: 238px;
}

#donateImg{
    float: left;
}

.donateWmInfo {
	float: right;
}

.paymentInfo {
	margin-top: 9px;
}

.donateInfo {
    float: right;
    width: 150px;
}

.phdInfo {
	font-size: 17px;
    position: relative;
    top: -19px;
}

.crumb {
	color: #888888;
}