.mainMenuHorizontal {
    height: 60px;
    margin: 0 40px 0 77px;
    position: absolute;
    top: 84px;
    width: 802px;
	background: none;
	list-style: none;
	padding: 0;
}
.mainMenuHorizontal li {
	float: left;
	font: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.mainMenuHorizontal a {
	background: url(../img/menu/hor_menu_bg.png) no-repeat scroll 0 0 transparent;
	color: #000033;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}
.mainMenuHorizontal .selected{
	background: url(../img/menu/hor_menu_bg.png) no-repeat scroll 0 -180px transparent;
}
.mainMenuHorizontal a:active {
    background: url(../img/menu/hor_menu_bg.png) no-repeat scroll 0 -120px transparent;
}
.mainMenuHorizontal a:hover {
	background: url(../img/menu/hor_menu_bg.png) no-repeat scroll 0 -60px transparent;
	color: #000033;
	padding-bottom: 8px;
}

.menuVerticalLeft {
	border-color:#0066FF;
	border-style:solid;
	border-width:1px;
}

.menuButtonTable {
	height: 30px;
	width: 150px;
}

.menuButtonTable .btLeftSide {
	background:url(../img/menu/btLeftSide.png);
	background-repeat:no-repeat;
}

.menuButtonTable .btRightSide {
	background:url(../img/menu/btRightSide.png);
	background-repeat:no-repeat;
}

.menuButtonTable .btCenterSide {
	background:url(../img/menu/btCenterSide.png);
	color:#FFFFFF;
	text-align: center;
	background-repeat:repeat-x;
}