<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT BuyLanding ANY>
<!ATTLIST BuyLanding id ID #REQUIRED>
<!ELEMENT Donate ANY>
<!ATTLIST Donate id ID #REQUIRED>
<!ELEMENT DonateDetail ANY>
<!ATTLIST DonateDetail id ID #REQUIRED>
<!ELEMENT DonateType ANY>
<!ATTLIST DonateType id ID #REQUIRED>
<!ELEMENT DonwloadHandler ANY>
<!ATTLIST DonwloadHandler id ID #REQUIRED>
<!ELEMENT DownloadMirror ANY>
<!ATTLIST DownloadMirror id ID #REQUIRED>
<!ELEMENT DownloadPage ANY>
<!ATTLIST DownloadPage id ID #REQUIRED>
<!ELEMENT FeedBack ANY>
<!ATTLIST FeedBack id ID #REQUIRED>
<!ELEMENT FreeActivationHandler ANY>
<!ATTLIST FreeActivationHandler id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT HomePageImage ANY>
<!ATTLIST HomePageImage id ID #REQUIRED>
<!ELEMENT LanguageHolder ANY>
<!ATTLIST LanguageHolder id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Release ANY>
<!ATTLIST Release id ID #REQUIRED>
<!ELEMENT ReleasesHolder ANY>
<!ATTLIST ReleasesHolder id ID #REQUIRED>
<!ELEMENT Settings ANY>
<!ATTLIST Settings id ID #REQUIRED>
<!ELEMENT SettingsHomePage ANY>
<!ATTLIST SettingsHomePage id ID #REQUIRED>
<!ELEMENT SimplePage ANY>
<!ATTLIST SimplePage id ID #REQUIRED>
<!ELEMENT SiteSettings ANY>
<!ATTLIST SiteSettings id ID #REQUIRED>
<!ELEMENT SiteSettingsLanguage ANY>
<!ATTLIST SiteSettingsLanguage id ID #REQUIRED>
<!ELEMENT UnInstallReason ANY>
<!ATTLIST UnInstallReason id ID #REQUIRED>
<!ELEMENT XmlUpdateCheck ANY>
<!ATTLIST XmlUpdateCheck id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1050" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="2" createDate="2010-12-19T13:10:31" updateDate="2011-02-26T22:34:47" nodeName="en" urlName="en" writerName="Administrator" creatorName="Administrator" path="-1,1050" isDoc="">
    <changeLanguageText>Change language</changeLanguageText>
    <title>Home</title>
    <umbracoNaviHide>0</umbracoNaviHide>
    <includeInFooter>1</includeInFooter>
    <XmlUpdateCheck id="1058" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1056" template="1057" sortOrder="0" createDate="2010-12-25T01:25:31" updateDate="2010-12-25T01:39:07" nodeName="Update" urlName="update" writerName="Administrator" creatorName="Administrator" path="-1,1050,1058" isDoc="" />
    <SimplePage id="1070" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1053" template="1052" sortOrder="1" createDate="2011-01-06T16:03:39" updateDate="2011-02-26T22:35:24" nodeName="About" urlName="about" writerName="Administrator" creatorName="Administrator" path="-1,1050,1070" isDoc="">
      <pageContent><![CDATA[]]></pageContent>
      <title>About</title>
      <umbracoNaviHide>0</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
    </SimplePage>
    <Donate id="1112" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1079" template="1080" sortOrder="2" createDate="2011-02-26T22:46:50" updateDate="2011-03-11T12:01:57" nodeName="Donate" urlName="donate" writerName="Administrator" creatorName="Administrator" path="-1,1050,1112" isDoc="">
      <DonateType id="1113" parentID="1112" level="3" writerID="0" creatorID="0" nodeType="1100" template="0" sortOrder="1" createDate="2011-02-26T22:46:54" updateDate="2011-02-26T22:49:23" nodeName="Web Money" urlName="web-money" writerName="Administrator" creatorName="Administrator" path="-1,1050,1112,1113" isDoc="">
        <name>Web-money</name>
        <donateImage>1107</donateImage>
        <DonateDetail id="1114" parentID="1113" level="4" writerID="0" creatorID="0" nodeType="1101" template="0" sortOrder="1" createDate="2011-02-26T22:46:54" updateDate="2011-02-26T22:49:23" nodeName="WMZ" urlName="wmz" writerName="Administrator" creatorName="Administrator" path="-1,1050,1112,1113,1114" isDoc="">
          <detailText>Z252106215038</detailText>
        </DonateDetail>
        <DonateDetail id="1115" parentID="1113" level="4" writerID="0" creatorID="0" nodeType="1101" template="0" sortOrder="2" createDate="2011-02-26T22:46:55" updateDate="2011-02-26T22:49:23" nodeName="WMR" urlName="wmr" writerName="Administrator" creatorName="Administrator" path="-1,1050,1112,1113,1115" isDoc="">
          <detailText>R255010608168</detailText>
        </DonateDetail>
        <DonateDetail id="1116" parentID="1113" level="4" writerID="0" creatorID="0" nodeType="1101" template="0" sortOrder="3" createDate="2011-02-26T22:46:55" updateDate="2011-02-26T22:49:23" nodeName="WMB" urlName="wmb" writerName="Administrator" creatorName="Administrator" path="-1,1050,1112,1113,1116" isDoc="">
          <detailText>B969266116698</detailText>
        </DonateDetail>
        <DonateDetail id="1117" parentID="1113" level="4" writerID="0" creatorID="0" nodeType="1101" template="0" sortOrder="4" createDate="2011-02-26T22:46:56" updateDate="2011-02-26T22:49:23" nodeName="WME" urlName="wme" writerName="Administrator" creatorName="Administrator" path="-1,1050,1112,1113,1117" isDoc="">
          <detailText>E994078796989</detailText>
        </DonateDetail>
      </DonateType>
      <textDonate>Help to the project!</textDonate>
      <title>Help to project</title>
      <umbracoNaviHide>0</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
      <mETAKeywords />
      <mETADescription />
    </Donate>
    <DownloadPage id="1075" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1072" template="1073" sortOrder="3" createDate="2011-01-06T16:06:29" updateDate="2011-03-13T21:44:37" nodeName="Download" urlName="download" writerName="Administrator" creatorName="Administrator" path="-1,1050,1075" isDoc="">
      <downloadStableText><![CDATA[This is the latest stable version of PhotoDB program. ]]></downloadStableText>
      <downloadNotStableText><![CDATA[This is the latest version of program. This version have some new features, but can be not stable in work.]]></downloadNotStableText>
      <listOfAllReleasesText>List of the latest releases</listOfAllReleasesText>
      <downloadStableLabelText>Download the latest stable version!</downloadStableLabelText>
      <downloadNotStableLabelText>Download the latest &lt;span style="color:red"&gt;beta version&lt;/span&gt;!</downloadNotStableLabelText>
      <title>Download</title>
      <umbracoNaviHide>0</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
      <mETAKeywords />
      <mETADescription />
    </DownloadPage>
    <SimplePage id="1077" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1053" template="1052" sortOrder="4" createDate="2011-01-06T16:19:28" updateDate="2011-03-11T12:00:50" nodeName="Work with program" urlName="work-with-program" writerName="Administrator" creatorName="Administrator" path="-1,1050,1077" isDoc="">
      <pageContent><![CDATA[]]></pageContent>
      <title>Work with program</title>
      <umbracoNaviHide>1</umbracoNaviHide>
      <includeInFooter>0</includeInFooter>
      <mETAKeywords />
      <mETADescription />
    </SimplePage>
    <BuyLanding id="1083" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1081" template="1082" sortOrder="5" createDate="2011-01-06T16:21:39" updateDate="2011-03-11T12:01:06" nodeName="Buy" urlName="buy" writerName="Administrator" creatorName="Administrator" path="-1,1050,1083" isDoc="">
      <title>Buy</title>
      <umbracoNaviHide>1</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
      <mETAKeywords />
      <mETADescription />
    </BuyLanding>
    <SimplePage id="1085" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1053" template="1052" sortOrder="6" createDate="2011-01-06T16:22:29" updateDate="2011-03-11T15:06:39" nodeName="Contacts" urlName="contacts" writerName="Administrator" creatorName="Administrator" path="-1,1050,1085" isDoc="">
      <pageContent><![CDATA[]]></pageContent>
      <title>Contacts</title>
      <umbracoNaviHide>1</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
      <mETAKeywords />
      <mETADescription />
    </SimplePage>
    <FeedBack id="1089" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1087" template="1088" sortOrder="7" createDate="2011-01-06T16:26:36" updateDate="2011-03-11T21:50:47" nodeName="Feed back" urlName="feed-back" writerName="Administrator" creatorName="Administrator" path="-1,1050,1089" isDoc="">
      <firstNameText>First Name</firstNameText>
      <lastNameText>Last Name</lastNameText>
      <emailText>E-mail</emailText>
      <organizationText>Organization</organizationText>
      <themeText>Theme</themeText>
      <messageText>Message Text</messageText>
      <submitText>Submit</submitText>
      <requiredText>Field {0} is required!</requiredText>
      <invalidFormatText>Field {0} is not well-formatted!</invalidFormatText>
      <title>Feed back</title>
      <umbracoNaviHide>0</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
      <mETAKeywords />
      <mETADescription />
    </FeedBack>
    <UnInstallReason id="1151" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1149" template="1150" sortOrder="8" createDate="2011-03-13T22:28:58" updateDate="2011-03-13T22:29:27" nodeName="Uninstall" urlName="uninstall" writerName="Administrator" creatorName="Administrator" path="-1,1050,1151" isDoc="">
      <title />
      <umbracoNaviHide>1</umbracoNaviHide>
      <includeInFooter>0</includeInFooter>
      <mETAKeywords />
      <mETADescription />
    </UnInstallReason>
    <ReleasesHolder id="1095" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1091" template="0" sortOrder="9" createDate="2011-01-06T23:54:46" updateDate="2011-02-25T23:58:17" nodeName="Releases" urlName="releases" writerName="Administrator" creatorName="Administrator" path="-1,1050,1095" isDoc="">
      <Release id="1096" parentID="1095" level="3" writerID="0" creatorID="0" nodeType="1092" template="0" sortOrder="1" createDate="2011-01-06T23:58:46" updateDate="2011-02-19T00:12:40" nodeName="Photo Database 2.2" urlName="photo-database-22" writerName="Administrator" creatorName="Administrator" path="-1,1050,1095,1096" isDoc="">
        <version>2</version>
        <major>2</major>
        <minor>0</minor>
        <build>1</build>
        <installerFile>1068</installerFile>
        <productName>Photo Database 2.2</productName>
        <dateOfRelease>2008-02-11T00:00:00</dateOfRelease>
        <programVersion>12</programVersion>
        <releaseNotes>Photo Database 2.2</releaseNotes>
        <releaseText><![CDATA[Photo Database 2.2 stable build]]></releaseText>
        <isStable>1</isStable>
        <DownloadMirror id="1104" parentID="1096" level="4" writerID="0" creatorID="0" nodeType="1102" template="0" sortOrder="1" createDate="2011-01-07T21:32:49" updateDate="2011-01-07T21:33:01" nodeName="narod.ru" urlName="narodru" writerName="Administrator" creatorName="Administrator" path="-1,1050,1095,1096,1104" isDoc="">
          <urlName>http://www.illusdolphin.narod.ru</urlName>
          <urlLocation>http://www.illusdolphin.narod.ru/photodb/photodb.exe</urlLocation>
        </DownloadMirror>
      </Release>
      <Release id="1147" parentID="1095" level="3" writerID="0" creatorID="0" nodeType="1092" template="0" sortOrder="2" createDate="2011-03-13T21:11:37" updateDate="2011-03-13T21:12:52" nodeName="Photo Database 2.3 b221" urlName="photo-database-23-b221" writerName="Administrator" creatorName="Administrator" path="-1,1050,1095,1147" isDoc="">
        <version>2</version>
        <major>3</major>
        <minor>0</minor>
        <build>223</build>
        <installerFile>1148</installerFile>
        <productName>Photo Database 2.3</productName>
        <dateOfRelease>2011-03-13T00:00:00</dateOfRelease>
        <programVersion>12</programVersion>
        <releaseNotes>
        </releaseNotes>
        <releaseText><![CDATA[]]></releaseText>
        <isStable>0</isStable>
      </Release>
      <downloadText>Download the latest version now!</downloadText>
      <buildText>Build</buildText>
      <downloadsCountText>downloads</downloadsCountText>
    </ReleasesHolder>
  </HomePage>
  <HomePage id="1055" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="3" createDate="2010-12-19T13:17:53" updateDate="2011-02-26T22:35:11" nodeName="ru" urlName="ru" writerName="Administrator" creatorName="Administrator" path="-1,1055" isDoc="">
    <changeLanguageText>Сменить язык</changeLanguageText>
    <title>Главная</title>
    <umbracoNaviHide>0</umbracoNaviHide>
    <includeInFooter>1</includeInFooter>
    <XmlUpdateCheck id="1059" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1056" template="1057" sortOrder="1" createDate="2010-12-25T01:25:42" updateDate="2010-12-25T01:25:46" nodeName="Update" urlName="update" writerName="Administrator" creatorName="Administrator" path="-1,1055,1059" isDoc="" />
    <SimplePage id="1071" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1053" template="1052" sortOrder="2" createDate="2011-01-06T16:04:17" updateDate="2011-03-10T17:01:07" nodeName="About" urlName="about" writerName="Administrator" creatorName="Administrator" path="-1,1055,1071" isDoc="">
      <pageContent><![CDATA[
<p>Программа <span><strong>Photo DataBase</strong> -</span> удобный
<span>поисковик и организатор</span> коллекций цифровых фотографий,
со встроенными функциями <span>проводника по изображениям</span>
(каталогам, компьютеру и даже локальной сети), <span>просмотра
изображения</span> (содержит удобные средства для просмотра
изображений, в том числе и анимированных, возможности
полноэкранного просмотра и слайд-шоу), а также <span>редактирования
изображений</span> (встроенные редактор, который позволит быстро и
удобно скадрировать фотографию, повернуть, скорректировать цвет,
яркость, а также добавить многочисленные эффекты). Из программы
легко<br />
 переносить фотографии с носителей информации (CD-ROM, USB-Disk,
...).<br />
 Поддерживается множество форматов файлов, в том числе RAW форматы
более 80ти моделей камер! Поддерживается чтение EXIF информации в
фотографиях (при добавлении в БД учитывается дата снимка)<span>,
поддержка поворота JPEG без потерь качества</span>, удобный вывод
фотографий на печать. Программа интегрируется с проводником
Microsoft Windows (<span>r)</span>, имеет средства для удобного
получения фотографий с цифровых фотоаппаратов, а также съёмных
носителей информации. Поддерживается меню из Microsoft Windows
(<span>r)</span> к файлам, что улучшает интеграцию с другими
программами.<br />
 Важным достоинством программы является <span>возможность
шифрования фотографий</span>, позволяющая безопасно хранить личные
фото, шифрование удобно в использовании и вы можете обращаться с
зашифрованными фотографиями как с обычными после ввода пароля (хотя
на диске они всё равно будут защищены).Также возможно добавленик к
фотографиям скрытой информации при сохранении в PNG или BMP.<br />
 Поддержка <span>ключевых слов</span>, а также <span>групп</span>
значительно упростит поиск и организацию фотографий. Программа
поддерживает добавление <span>неограниченного количества
"ссылок"</span>, прикреплённых к данной фотографии (возможны ссылки
на любые файлы, папки, фотографии в БД, а также просто
многострочные текстовые поля). Это поможет вам связать фотографии,
указав, к примеру, после редактирования фото ссылку на оригинал,
чтобы быстро его в последствии найти.<br />
 Удобная поддержка работы с группами, новый менеджер и редактор
групп. Поддержка работы с разными пользователями,<br />
 поддержка ограничения прав пользователей и защиты
информации.<br />
 Русскоязычная версия <span>бесплатная</span>!<br />
 Скачать можно по <a href="/{localLink:1074}"
title="Download">ссылке</a>.<span><span><a
href="http://www.illusdolphin.narod.ru/photodb/photodb.exe"></a></span></span></p>
]]></pageContent>
      <title>О программе</title>
      <umbracoNaviHide>0</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
      <mETAKeywords>
      </mETAKeywords>
      <mETADescription>
      </mETADescription>
    </SimplePage>
    <DownloadPage id="1074" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1072" template="1073" sortOrder="3" createDate="2011-01-06T16:06:21" updateDate="2011-03-13T21:45:48" nodeName="Download" urlName="download" writerName="Administrator" creatorName="Administrator" path="-1,1055,1074" isDoc="">
      <downloadStableText><![CDATA[Загрузить последнюю стабильную версию программы.]]></downloadStableText>
      <downloadNotStableText><![CDATA[Загрузить последнюю сборку программы, которая может содержать новые возможности, но при этом быть нестабильной в работе.]]></downloadNotStableText>
      <listOfAllReleasesText>Список последних сборок</listOfAllReleasesText>
      <downloadStableLabelText>Загрузить последнюю стабильную версию!</downloadStableLabelText>
      <downloadNotStableLabelText>Загрузить последнюю &lt;span style="color:red"&gt;бета-версию&lt;/span&gt;!</downloadNotStableLabelText>
      <title>Скачать</title>
      <umbracoNaviHide>0</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
      <mETAKeywords>
      </mETAKeywords>
      <mETADescription>
      </mETADescription>
    </DownloadPage>
    <SimplePage id="1078" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1053" template="1052" sortOrder="4" createDate="2011-01-06T16:19:44" updateDate="2011-03-11T15:48:04" nodeName="Work with program" urlName="work-with-program" writerName="Administrator" creatorName="Administrator" path="-1,1055,1078" isDoc="">
      <pageContent><![CDATA[]]></pageContent>
      <title>Работа с программой</title>
      <umbracoNaviHide>1</umbracoNaviHide>
      <includeInFooter>0</includeInFooter>
      <mETAKeywords>
      </mETAKeywords>
      <mETADescription>
      </mETADescription>
    </SimplePage>
    <Donate id="1084" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1079" template="1080" sortOrder="5" createDate="2011-01-06T16:21:54" updateDate="2011-02-26T22:36:21" nodeName="Donate" urlName="donate" writerName="Administrator" creatorName="Administrator" path="-1,1055,1084" isDoc="">
      <textDonate>Помощь &lt;br /&gt;в развитии проекта!</textDonate>
      <title>Помощь проекту</title>
      <umbracoNaviHide>0</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
      <DonateType id="1105" parentID="1084" level="3" writerID="0" creatorID="0" nodeType="1100" template="0" sortOrder="1" createDate="2011-01-10T18:13:16" updateDate="2011-01-10T18:58:13" nodeName="Web Money" urlName="web-money" writerName="Administrator" creatorName="Administrator" path="-1,1055,1084,1105" isDoc="">
        <name>Web-money</name>
        <donateImage>1107</donateImage>
        <DonateDetail id="1108" parentID="1105" level="4" writerID="0" creatorID="0" nodeType="1101" template="0" sortOrder="1" createDate="2011-01-10T18:20:08" updateDate="2011-01-10T18:58:14" nodeName="WMZ" urlName="wmz" writerName="Administrator" creatorName="Administrator" path="-1,1055,1084,1105,1108" isDoc="">
          <detailText>Z252106215038</detailText>
        </DonateDetail>
        <DonateDetail id="1109" parentID="1105" level="4" writerID="0" creatorID="0" nodeType="1101" template="0" sortOrder="2" createDate="2011-01-10T18:20:41" updateDate="2011-01-10T18:58:14" nodeName="WMR" urlName="wmr" writerName="Administrator" creatorName="Administrator" path="-1,1055,1084,1105,1109" isDoc="">
          <detailText>R255010608168</detailText>
        </DonateDetail>
        <DonateDetail id="1110" parentID="1105" level="4" writerID="0" creatorID="0" nodeType="1101" template="0" sortOrder="3" createDate="2011-01-10T18:20:53" updateDate="2011-01-10T18:58:14" nodeName="WMB" urlName="wmb" writerName="Administrator" creatorName="Administrator" path="-1,1055,1084,1105,1110" isDoc="">
          <detailText>B969266116698</detailText>
        </DonateDetail>
        <DonateDetail id="1111" parentID="1105" level="4" writerID="0" creatorID="0" nodeType="1101" template="0" sortOrder="4" createDate="2011-01-10T18:21:26" updateDate="2011-01-11T00:16:21" nodeName="WME" urlName="wme" writerName="Administrator" creatorName="Administrator" path="-1,1055,1084,1105,1111" isDoc="">
          <detailText>E994078796989</detailText>
        </DonateDetail>
      </DonateType>
    </Donate>
    <SimplePage id="1086" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1053" template="1052" sortOrder="6" createDate="2011-01-06T16:23:29" updateDate="2011-03-11T15:06:51" nodeName="Contacts" urlName="contacts" writerName="Administrator" creatorName="Administrator" path="-1,1055,1086" isDoc="">
      <pageContent><![CDATA[]]></pageContent>
      <title>Контакты</title>
      <umbracoNaviHide>1</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
      <mETAKeywords>
      </mETAKeywords>
      <mETADescription>
      </mETADescription>
    </SimplePage>
    <FeedBack id="1090" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1087" template="1088" sortOrder="7" createDate="2011-01-06T16:26:53" updateDate="2011-03-11T21:52:22" nodeName="Feed back" urlName="feed-back" writerName="Administrator" creatorName="Administrator" path="-1,1055,1090" isDoc="">
      <firstNameText>Имя</firstNameText>
      <lastNameText>Фамилия</lastNameText>
      <emailText>E-mail</emailText>
      <organizationText>Организация</organizationText>
      <themeText>Тема</themeText>
      <messageText>Текст сообщения</messageText>
      <submitText>Отправить</submitText>
      <requiredText>Поле {0} является обязательным!</requiredText>
      <invalidFormatText>Поле {0} неверно заполнено!</invalidFormatText>
      <title>Обратная связь</title>
      <umbracoNaviHide>0</umbracoNaviHide>
      <includeInFooter>1</includeInFooter>
      <mETAKeywords>
      </mETAKeywords>
      <mETADescription>
      </mETADescription>
    </FeedBack>
    <ReleasesHolder id="1093" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1091" template="0" sortOrder="8" createDate="2011-01-06T21:31:38" updateDate="2011-02-25T23:58:25" nodeName="Releases" urlName="releases" writerName="Administrator" creatorName="Administrator" path="-1,1055,1093" isDoc="">
      <downloadText>Загрузить последнюю версию!</downloadText>
      <buildText>Сборка</buildText>
      <downloadsCountText>загрузок</downloadsCountText>
      <Release id="1094" parentID="1093" level="3" writerID="0" creatorID="0" nodeType="1092" template="0" sortOrder="1" createDate="2011-01-06T21:32:14" updateDate="2011-02-19T00:12:50" nodeName="Photo Database 2.2" urlName="photo-database-22" writerName="Administrator" creatorName="Administrator" path="-1,1055,1093,1094" isDoc="">
        <version>2</version>
        <major>2</major>
        <minor>0</minor>
        <build>1</build>
        <installerFile>1068</installerFile>
        <productName>Photo Database 2.2</productName>
        <dateOfRelease>2008-02-11T00:00:00</dateOfRelease>
        <programVersion>12</programVersion>
        <releaseNotes>Photo Database 2.2</releaseNotes>
        <releaseText><![CDATA[Photo Database 2.2 stable build]]></releaseText>
        <isStable>1</isStable>
        <DownloadMirror id="1103" parentID="1094" level="4" writerID="0" creatorID="0" nodeType="1102" template="0" sortOrder="1" createDate="2011-01-07T21:30:05" updateDate="2011-01-07T21:32:38" nodeName="narod.ru" urlName="narodru" writerName="Administrator" creatorName="Administrator" path="-1,1055,1093,1094,1103" isDoc="">
          <urlName>http://www.illusdolphin.narod.ru</urlName>
          <urlLocation>http://www.illusdolphin.narod.ru/photodb/photodb.exe</urlLocation>
        </DownloadMirror>
      </Release>
      <Release id="1146" parentID="1093" level="3" writerID="0" creatorID="0" nodeType="1092" template="0" sortOrder="2" createDate="2011-03-13T21:09:53" updateDate="2011-03-13T21:13:03" nodeName="Photo Database 2.3 b221" urlName="photo-database-23-b221" writerName="Administrator" creatorName="Administrator" path="-1,1055,1093,1146" isDoc="">
        <version>2</version>
        <major>3</major>
        <minor>0</minor>
        <build>223</build>
        <installerFile>1148</installerFile>
        <productName>Photo Database 2.3</productName>
        <dateOfRelease>2011-03-13T00:00:00</dateOfRelease>
        <programVersion>12</programVersion>
        <releaseNotes>
        </releaseNotes>
        <releaseText><![CDATA[]]></releaseText>
        <isStable>0</isStable>
      </Release>
    </ReleasesHolder>
    <UnInstallReason id="1152" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1149" template="1150" sortOrder="7" createDate="2011-03-13T22:29:48" updateDate="2011-03-13T22:30:18" nodeName="Uninstall" urlName="uninstall" writerName="Administrator" creatorName="Administrator" path="-1,1055,1152" isDoc="">
      <title />
      <umbracoNaviHide>0</umbracoNaviHide>
      <includeInFooter>0</includeInFooter>
      <mETAKeywords />
      <mETADescription />
    </UnInstallReason>
  </HomePage>
  <DonwloadHandler id="1099" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1097" template="1098" sortOrder="4" createDate="2011-01-07T12:00:28" updateDate="2011-01-07T12:01:32" nodeName="Download File" urlName="download-file" writerName="Administrator" creatorName="Administrator" path="-1,1099" isDoc="" />
  <FreeActivationHandler id="1121" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1119" template="1120" sortOrder="5" createDate="2011-03-02T17:57:35" updateDate="2011-03-02T17:58:42" nodeName="FreeActivationHandler" urlName="freeactivationhandler" writerName="Administrator" creatorName="Administrator" path="-1,1121" isDoc="" />
  <SiteSettings id="1129" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1127" template="0" sortOrder="6" createDate="2011-03-10T16:30:49" updateDate="2011-03-10T16:32:04" nodeName="Settings" urlName="settings" writerName="Administrator" creatorName="Administrator" path="-1,1129" isDoc="">
    <SiteSettingsLanguage id="1130" parentID="1129" level="2" writerID="0" creatorID="0" nodeType="1128" template="0" sortOrder="1" createDate="2011-03-10T16:31:47" updateDate="2011-03-10T16:32:05" nodeName="en" urlName="en" writerName="Administrator" creatorName="Administrator" path="-1,1129,1130" isDoc="">
      <SettingsHomePage id="1133" parentID="1130" level="3" writerID="0" creatorID="0" nodeType="1132" template="0" sortOrder="1" createDate="2011-03-10T16:33:24" updateDate="2011-03-10T16:33:41" nodeName="Home Page" urlName="home-page" writerName="Administrator" creatorName="Administrator" path="-1,1129,1130,1133" isDoc="">
        <HomePageImage id="1136" parentID="1133" level="4" writerID="0" creatorID="0" nodeType="1135" template="0" sortOrder="1" createDate="2011-03-10T16:35:10" updateDate="2011-03-10T16:37:43" nodeName="Image 1" urlName="image-1" writerName="Administrator" creatorName="Administrator" path="-1,1129,1130,1133,1136" isDoc="">
          <imageName>Image 1</imageName>
          <image>1138</image>
        </HomePageImage>
        <HomePageImage id="1141" parentID="1133" level="4" writerID="0" creatorID="0" nodeType="1135" template="0" sortOrder="2" createDate="2011-03-10T16:37:49" updateDate="2011-03-10T16:38:01" nodeName="Image 2" urlName="image-2" writerName="Administrator" creatorName="Administrator" path="-1,1129,1130,1133,1141" isDoc="">
          <imageName>Image 2</imageName>
          <image>1139</image>
        </HomePageImage>
        <HomePageImage id="1142" parentID="1133" level="4" writerID="0" creatorID="0" nodeType="1135" template="0" sortOrder="3" createDate="2011-03-10T16:38:11" updateDate="2011-03-10T16:38:21" nodeName="Image 3" urlName="image-3" writerName="Administrator" creatorName="Administrator" path="-1,1129,1130,1133,1142" isDoc="">
          <imageName>Image 3</imageName>
          <image>1140</image>
        </HomePageImage>
      </SettingsHomePage>
    </SiteSettingsLanguage>
    <SiteSettingsLanguage id="1131" parentID="1129" level="2" writerID="0" creatorID="0" nodeType="1128" template="0" sortOrder="2" createDate="2011-03-10T16:31:54" updateDate="2011-03-10T16:32:05" nodeName="ru" urlName="ru" writerName="Administrator" creatorName="Administrator" path="-1,1129,1131" isDoc="">
      <SettingsHomePage id="1134" parentID="1131" level="3" writerID="0" creatorID="0" nodeType="1132" template="0" sortOrder="1" createDate="2011-03-10T16:33:33" updateDate="2011-03-10T16:33:37" nodeName="Home Page" urlName="home-page" writerName="Administrator" creatorName="Administrator" path="-1,1129,1131,1134" isDoc="">
        <HomePageImage id="1143" parentID="1134" level="4" writerID="0" creatorID="0" nodeType="1135" template="0" sortOrder="1" createDate="2011-03-10T16:38:29" updateDate="2011-03-10T16:38:36" nodeName="Image 1" urlName="image-1" writerName="Administrator" creatorName="Administrator" path="-1,1129,1131,1134,1143" isDoc="">
          <imageName>Image 3</imageName>
          <image>1138</image>
        </HomePageImage>
        <HomePageImage id="1144" parentID="1134" level="4" writerID="0" creatorID="0" nodeType="1135" template="0" sortOrder="2" createDate="2011-03-10T16:38:45" updateDate="2011-03-10T16:38:52" nodeName="Image 2" urlName="image-2" writerName="Administrator" creatorName="Administrator" path="-1,1129,1131,1134,1144" isDoc="">
          <imageName>Image 2</imageName>
          <image>1139</image>
        </HomePageImage>
        <HomePageImage id="1145" parentID="1134" level="4" writerID="0" creatorID="0" nodeType="1135" template="0" sortOrder="3" createDate="2011-03-10T16:39:02" updateDate="2011-03-10T16:39:10" nodeName="Image 3" urlName="image-3" writerName="Administrator" creatorName="Administrator" path="-1,1129,1131,1134,1145" isDoc="">
          <imageName>Image 2</imageName>
          <image>1140</image>
        </HomePageImage>
      </SettingsHomePage>
    </SiteSettingsLanguage>
  </SiteSettings>
</root>