<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhotoDBDatabase.Properties.Settings.PhotoDBSiteConnectionString"
            connectionString="Data Source=illusdolphin.net\SQLEXPRESS;Initial Catalog=PhotoDBSite;User ID=pdbsite_user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>