@charset "utf-8";

body {
  background-image: url(../img/bg.gif);
  background-repeat: repeat-x;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
  margin: 8px;
}
h1,h2,h3,h4,h5,h6,strong {
  /*bringing boldness back to headers and the strong element*/
  font-weight:bold; 
}
ol,ul,dl {
  /*bringing lists on to the page with breathing room */
  margin:0 0 0 2em;
}
ol li {
  /*giving OL's LIs generated numbers*/
  list-style: decimal outside;  
}
ul li {
  /*giving UL's LIs generated disc markers*/
  list-style: none outside;
}
dl dd {
  /*giving UL's LIs generated numbers*/
  margin-left:1em;
}
th,td {
  /*borders and padding to make the table readable*/
  border:none;
  padding:0;
}
th {
  /*distinguishing table headers from data cells*/
  font-weight:bold;
  text-align:center;
}
p,fieldset,table {
  /*so things don't run into each other*/
  margin-bottom:12px;
}
textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  FONT-SIZE: 12px;
}
select {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  FONT-SIZE: 12px;
}
a:active {
  color: #0000A0;
  TEXT-DECORATION: none;
}
a:link {
  color: #0000A0;
  TEXT-DECORATION: none;
}
a:visited {
  color: #0000A0;
  TEXT-DECORATION: none;
}
a:hover {
  color: #0080ff;
  TEXT-DECORATION: underline;
  cursor:pointer;
  
}
h1 {
  TEXT-DECORATION: none;
  FONT-SIZE: 14px;
  text-align: left;
}

.headName i {
  font-size: 20px;
  font-family: "Bookman Old Style";
}

h2 {
  COLOR: #0000A0;
  TEXT-DECORATION: none;
  FONT-SIZE: 16px
}
div .clearDiv10{
  height: 10px;
}
span .clearSpan10{
  width: 10px;
}
.mailInfo {
  text-align: center;
}
.pageContainer{
  /*margin-top: -10px;*/
}
.header {
  height: 55px;
  padding: 0 0 20px 0;
}
.logo{
  margin-left:24px;
  float:left;
}
.productNameHolder{
  float:right;
}
.productName{
  margin-top:10px;
  position:absolute;
  margin-left:24px;
  display:block;
}
.logo_holder{
  float: left; 
  position:absolute;
  width: 170px;
}
.languages{
  float: right; 
  margin-right: 20px;
  margin-top: -5px;
}
.changeLanguage{
  color: black; 
  position: relative; 
  top: -10px; 
  left: -5px;
}
.headName {
  padding: 0 250px 0 250px;
}
.headContent {
  float: left;
  width: 90%;
}
.breadCrumbs img {
    margin-left: 4px;
    margin-right: 4px;
    position: relative;
    top: 3px;
}
.breadCrumbs a img {
    margin-right: 0;
    top: 0;
}
.pageContent h1
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.page {
  width: 1024px;
  margin: 0 auto;
}

.container{
  width: 100%;
  padding: 0;
  /*height: 1%;*/
}
.container:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.content {
  padding: 0 0 0 64px;
}

.leftColumn {
    float: left;
    position: relative;
    width: 140px;
}
.leftColumnHome {
    float: left;
    position: relative;
    display: block;
    width: 250px;
}
.pageContent{
  float: left;
  display: block;
  width: 735px; 
}
.home{
}
.homeSlider{
  height:  241px;    
  left: 7px;
    position: relative;
}
.footer {
  min-width: 1024px;
  height: 40px;
  text-align: center;
  vertical-align: bottom;
  margin-top: -15px;
  color: #888;
}
.footer span {
  margin-left: 10px;
}

.footer a {
  margin-left: 10px;
}

.footer a:link, .footer a:visited{
  color: #888;
}

.sidebarTable {
  width: 250px;
}

.downloadInfo{ 
  margin-left:-11px;
}

.downloadInfo h2 {
  font-size:12px;
  margin: 0;
  text-align: left;
}

.download {
  padding-left: 16px;
}

.donate {
  min-height: 141px;
  width: 238px;
}

.donateWmImg{
    float: left;
}

.donateWmInfo {
  float: right;
}

.paymentInfo {
  margin-top: 9px;
  float:left;
}

.donateInfo {
  float: right;
  width: 150px;
}

.phdInfo {
  font-size: 17px;
  position: relative;
  top: -19px;
}

.standartInput {
  background: url(../img/input.png) repeat-x;
  border: #888888 solid 1px;
  height: 20px;
  width: 200px;
}

.multilineInput {
  background: url(../img/multi_input.png) repeat-x;
  border: #888888 solid 1px;
  width: 200px;
  padding-top: 4px;
}

.standartBtn {
  background: url(../img/btn.png) repeat-x;
  width: 90px;
  position: relative;
  left: 222px;
}

input.standartBtn:hover {
  cursor: pointer;
}

.required label{
  font-weight:bold;
}

.required input{
  background: url(../img/input.png) 0 -25px repeat-x;
}

.validation_summary{
  color: red;
  padding-bottom: 5px;
}

.requared_sign{
  float: left;
  display: block;
  width: 10px;
  color: #FF8080;
  font-weight: bold;
}

.row:hover {
  background:url(../img/row-bg.png) repeat;
  border-color: #FF8080; 
  border-style: dashed;
  border-width: 1px;
}

.row {
  padding: 5px 0;
  width: 330px;
  border-color: #ffffff; 
  border-style: dashed;
  border-width: 1px;
}

.row_label{
  width: 100px;
  text-align: right;
  display: block;
  float:left;
}


.download_page{
  width: 650px;
}
.download_info {
  min-height: 55px;
}
.download_page  .download {
    padding-left: 0px;
  float:left;
  width: 300px;
}
.download_page  .download_beta {
  padding-left: 0px;
  float:right;
  width: 300px;
}
.release_list{
  padding-top: 30px;
  clear:both;
}
.release{
  padding: 5px 0 0 0;
  clear:both;
}
.release_list .stable{
  font-weight:bold;
}
.release_list .info{
  padding-bottom: 10px;
  font-size: 14px;
  font-weight:bold;
}
.release  img{
  margin-right: 4px;
}
.release_download{
  display:block;
  float:left;
}
.release_name{
  display:block;
  float:left;
  padding-top: 1px;
}
.donate_page .donate{
  width:650px;
}
.donate_page .donateInfo{
  width:555px;
}
.donateInfo h1{
  padding:  0px;
}
.donateInfo h2{
  padding:  6px 0;
}
.donateInfo p{
  padding:  0px; 
}
.donate_payment_info{
  display:block; 
  float:left;
}
donate_pay_warning{
  display:block;
  float:left;
}
.donate_page .paymentInfo {
  width:160px;
  padding-bottom:10px;
}
.donate_pay_warning{
  padding-top: 12px;
  padding-bottom: 12px;
  display:block;
  float:left;
}
.warning_image{
  display:block;
  float:left;
  padding: 4px 10px 10px 0;
}
.payment_name{  
  font-weight:bold;
}
.clearDiv{
 clear:both; 
}
.donateImage{
 float:left; 
}
.clearDiv:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.home_top{
 display:block;
 float:left;
}
.home_news{
 display:block;
 float:left;
 margin-top:0px;
 margin-left:20px;
 width: 700px;
}
.news_title{
  padding-bottom:10px;
}
.home_news p{
  margin-bottom: 5px;
}
.news_block{
  padding: 10px 0 10px 0;
}
.home_news p{
  text-indent: 10pt;
}
.home_news ul{
  padding-bottom: 3px;
  padding-left: 12px;
}
.home_news li{
  list-style-type:disc;
  padding: 2px 3px;
}
.news_block_title{
  font-size: 14px;
  text-indent: 0;
}
.news_listing{
  text-indent: 0;
}
.plusone{
  float:right;
}
.home_slogan{
 padding-bottom: 10px; 
}
.home_slogan h1{
font-size: 12px; text-align: center;
}
#container ul li{
  list-style-type:circle;
}
.right_callout{
    float:right;
    width:200px;        
    padding-top: 0;
    position: relative;
    top: -20px;
    padding-right:30px;
}
.c_top{
    background: url("../img/box/boxtop.gif") no-repeat scroll 0 0 transparent;
    height: 4px;
    width: 200px;
}
.c_content{
   background: url("../img/box/boxgrd.gif") no-repeat scroll 0 0 transparent;
   height: auto;
   overflow: hidden;
   padding: 15px 10px;
   width: 190px;
}
.c_bottom{
    background: url("../img/box/boxbot.gif") no-repeat scroll 0 0 transparent;
    height: 4px;
    width: 200px;
}








/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
